
<%-include("header") -%>
<div class="box">
      <h1 id="heading"> <%=foo%></h1></div>

          <div class="box">
            <form action="/" method="post">
              <input type="text" name="todo" placeholder="New Item" autocomplete="off">
              <button type="submit" name="button" value=<%=foo%> >+</button>

          <%for(var i=0;i<item.length;i++){%>
             <div class="item">
             <input type="checkbox">
            <p>  <%=item[i]%></p>
            </div>
          <%}%>

      </form>
    </div>
    <%- include("footer") -%>
